<div class="container">
  <div class="row">
    <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
      <p class="feature-name">Brand</p>
    </div>
    <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
      <p class="feature">T</p>
    </div>
    <div class="w-100"></div>

    <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
      <p class="feature-name">Model</p>
    </div>
    <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
      <p class="feature">34</p>
    </div>
    <div class="w-100"></div>

    <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
      <p class="feature-name">Category</p>
    </div>
    <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
      <p class="feature">Medium tank</p>
    </div>
    <div class="w-100"></div>

    <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
      <p class="feature-name">Fuel type</p>
    </div>
    <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
      <p class="feature">Diesel</p>
    </div>
    <div class="w-100"></div>

    <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
      <p class="feature-name">Transmission type</p>
    </div>
    <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
      <p class="feature">Manual</p>
    </div>
    <div class="w-100"></div>

    <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
      <p class="feature-name">Mileage</p>
    </div>
    <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
      <p class="feature">Moscow - Berlin (1.830 km)</p>
    </div>
    <div class="w-200"></div>

    <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
      <p class="feature-name">Seats</p>
    </div>
    <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
      <p class="feature">4</p>
    </div>
    <div class="w-100"></div>
  </div>
</div>