<div class="container">
  <div class="row">
    <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
      <p class="feature-name">Brand</p>
    </div>
    <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
      <p class="feature">{{vehicle?.brand.name}}</p>
    </div>
    <div class="w-100"></div>

    <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
      <p class="feature-name">Model</p>
    </div>
    <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
      <p class="feature">{{vehicle?.model.name}}</p>
    </div>
    <div class="w-100"></div>

    <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
      <p class="feature-name">Category</p>
    </div>
    <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
      <p class="feature">{{vehicle?.category.name}}</p>
    </div>
    <div class="w-100"></div>

    <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
      <p class="feature-name">Fuel type</p>
    </div>
    <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
      <p class="feature">{{vehicle?.fuel.name}}</p>
    </div>
    <div class="w-100"></div>

    <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
      <p class="feature-name">Transmission type</p>
    </div>
    <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
      <p class="feature">{{vehicle?.transmission.name}}</p>
    </div>
    <div class="w-100"></div>

    <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
      <p class="feature-name">Mileage</p>
    </div>
    <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
      <p class="feature">{{vehicle?.mileage}} km</p>
    </div>
    <div class="w-200"></div>

    <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
      <p class="feature-name">Available mileage</p>
    </div>
    <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
      <p class="feature">{{checkAvailableMileage(vehicle?.availableMileage)}} km</p>
    </div>
    <div class="w-200"></div>

    <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
      <p class="feature-name">Seats</p>
    </div>
    <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
      <p class="feature">{{vehicle?.seats}}</p>
    </div>

    <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
      <p class="feature-name">Child seats</p>
    </div>
    <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
      <p class="feature">{{vehicle?.childSeats}}</p>
    </div>
    <div class="w-100"></div>
  </div>
</div>