.star {
  font-size: 1.5rem;
  margin-top: 5em;
}
.car-Image {
  width:100%;
  height:100%;
  object-fit: contain;
}
.col-left {
  padding-left: 0;
  align-items: center;
  justify-content: center;
}
.col-vehicle-info {
  padding-left: 0.35em;
  padding-right: 0;
}
.vehicle-info {
  font-size: 0.8rem;
  list-style-type: none;
  padding-inline-start: 0;
}
.comment-icon {
  width:1.5em;
  height:1.5em;
}
.info-label {
  font-family: RlBasisGrotesque,  Avenir,  Helvetica Neue,  Helvetica,  sans-serif;
  text-transform: none;
  margin-right: 0.4em;
  font-weight: bold;
}
.mat-icon {
  font-size: 17px;
  width: 17px;
  font-family: 'Material Icons' !important;
  vertical-align: middle;
  margin-right: 1rem; 
  margin-left: 0.5rem;
  cursor: help;
}