.separator {
    background-color: #585858;
    height: 1vh;
}

.container-bg {
    background-color: #c4c4c4;
}

.list-item {
    color: #000000;
    padding-top: 0.5em;
    padding-top: 0.5em;
}

.list-group-item {
    color: #000000;
    margin-top: 0.5em;
    margin-top: 0.5em;
}
