<div class="container container-bg pb-2 rounded mt-4">
  <h2>Vehicle administration</h2>
  <nav class="list-group">
    <li class="list-group-item" routerLink="brands" routerLinkActive="active">Brands</li>
    <li class="list-group-item" routerLink="categories" routerLinkActive="active">Categories</li>
    <li class="list-group-item" routerLink="fuel" routerLinkActive="active">Fuel Types</li>
    <li class="list-group-item" routerLink="transmission" routerLinkActive="active">Transmission Types</li>
    <br>
    <br>
    <li class="list-group-item" routerLink="pending-reviews" routerLinkActive="active">Pending reviews</li>
    <br>
    <br>
    <li class="list-group-item" routerLink="users" routerLinkActive="active">Users</li>
    <li class="list-group-item" routerLink="companies" routerLinkActive="active">Companies</li>

  </nav>
</div>