<div class="container">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

    <div class="row">
      <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
        <p class="feature-name">Brand</p>
      </div>
      <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
        <mat-form-field>
          <mat-select formControlName="brand" name="brand" (selectionChange)="brandSelectionChanged($event)">
            <mat-option *ngFor="let brand of brands" [value]="brand">
              {{brand.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!form.get('brand').valid || form.get('brand').touched">
            Brand is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="w-100"></div>

      <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
        <p class="feature-name">Model</p>
      </div>
      <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
        <mat-form-field>
          <mat-select formControlName="model" name="model">
            <mat-option *ngFor="let model of models" [value]="model">
              {{model.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!form.get('model').valid || form.get('model').touched">
            Model is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="w-100"></div>

      <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
        <p class="feature-name">Category</p>
      </div>
      <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
        <mat-form-field>
          <mat-select formControlName="category" name="category">
            <mat-option *ngFor="let category of categories" [value]="category">
              {{category.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!form.get('category').valid || form.get('category').touched">
            Category is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="w-100"></div>

      <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
        <p class="feature-name">Fuel type</p>
      </div>
      <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
        <mat-form-field>
          <mat-select formControlName="fuel" name="fuel">
            <mat-option *ngFor="let type of fuels" [value]="type">
              {{type.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!form.get('fuel').valid || form.get('fuel').touched">
            Fuel type is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="w-100"></div>

      <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
        <p class="feature-name">Transmission type</p>
      </div>
      <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
        <mat-form-field>
          <mat-select formControlName="transmission" name="transmission">
            <mat-option *ngFor="let type of transmissions" [value]="type">
              {{type.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!form.get('transmission').valid || form.get('transmission').touched">
            Transmission type is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="w-100"></div>

      <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
        <p class="feature-name">Mileage</p>
      </div>
      <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
        <mat-form-field class="example-full-width">
          <input formControlName="mileage" matInput type="number">
          <mat-error *ngIf="!form.get('mileage').valid || form.get('mileage').touched">
            Mileage is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="w-200"></div>

      <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
        <p class="feature-name">Seats</p>
      </div>
      <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
        <mat-form-field class="example-full-width">
          <input formControlName="seats" matInput type="number">
          <mat-error *ngIf="!form.get('seats').valid || form.get('seats').touched">
            Number of seats is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="w-200"></div>

      <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
        <p class="feature-name">Child seats</p>
      </div>
      <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
        <mat-form-field class="example-full-width">
          <input formControlName="childSeats" matInput type="number">
          <mat-error *ngIf="!form.get('childSeats').valid || form.get('childSeats').touched">
            Number of child seats is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="w-200"></div>

      <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
        <p class="feature-name">Android Device</p>
      </div>
      <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
        <mat-checkbox class="feature" [labelPosition]="'after'" formControlName="hasAndroid" style="padding-left: 0.8rem;">
          &nbsp;
          {{ form.get('hasAndroid').value ? 'Available' : 'Not available' }}
        </mat-checkbox>
      </div>
      <div class="w-100"></div>

      <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
        <p class="feature-name">Images</p>
      </div>
      <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
        <mat-form-field class="example-full-width">
          <ngx-mat-file-input matInput [multiple]="true" [(ngModel)]="images" [ngModelOptions]="{standalone: true}">
          </ngx-mat-file-input>
        </mat-form-field>
      </div>

      <hr style=" width: 60%;">
      <div class="w-100"></div>

      <div class="col-sm-12 d-flex  justify-content-center mt-2">
        <p class="feature-name">Availability</p>
      </div>
      <div class="w-100"></div>


      <div class="col-sm-12 d-flex  justify-content-center mt-2">
        <!-- <p class="feature-name">Always available</p> -->
        <mat-checkbox class="feature-name" [labelPosition]="'before'" formControlName="alwaysAvailable"> Always
          available &nbsp;&nbsp;&nbsp; </mat-checkbox>
      </div>
      <div class="w-100"></div>


      <div *ngIf="!form.get('alwaysAvailable').value" [@inOutAnimation]
        class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
        <p class="feature-name">Occupied from</p>
      </div>
      <div *ngIf="!form.get('alwaysAvailable').value" [@inOutAnimation]
        class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
        <mat-form-field>
          <input [disabled]="true" formControlName="occupiedFrom" matInput [matDatepicker]="picker" [min]="now">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker disabled="false" #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div *ngIf="!form.get('alwaysAvailable').value" [@inOutAnimation] class="w-100"></div>

      <div *ngIf="!form.get('alwaysAvailable').value" [@inOutAnimation]
        class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
        <p class="feature-name">To</p>
      </div>
      <div *ngIf="!form.get('alwaysAvailable').value" [@inOutAnimation]
        class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
        <mat-form-field>
          <input [disabled]="true" formControlName="occupiedTo" matInput [matDatepicker]="picker2"
            [min]="form.get('occupiedFrom').value">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker disabled="false" #picker2></mat-datepicker>
        </mat-form-field>
      </div>
      <div *ngIf="!form.get('alwaysAvailable').value" [@inOutAnimation] class="w-100"></div>


      <hr style=" width: 60%;">
      <div class="w-100"></div>

      <div class="col-sm-12 d-flex  justify-content-center mt-2">
        <p class="feature-name">Features</p>
      </div>
      <div class="w-100"></div>

      <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2 align-items-center">
        <p class="feature-name ">Available mileage</p>
      </div>

      <div class="col-sm-8">
        <div class="col d-flex justify-content-sm-start justify-content-center mt-2">
          <div class="" *ngIf="!form.get('unlimitedMileage').value" [@inOutAnimation]>
            <mat-form-field class="example-full-width" style="width: 90%;">
              <input formControlName="availableMileage" matInput type="number">
              <mat-error *ngIf="!form.get('availableMileage').valid || form.get('availableMileage').touched">
              Available mileage is required
            </mat-error>
            </mat-form-field>
          </div>
          <div class="feature">
            <mat-checkbox [labelPosition]="'after'" formControlName="unlimitedMileage"> &nbsp; Unlimited
            </mat-checkbox>
          </div>
        </div>
      </div>

      <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
        <p class="feature-name">Pricelist</p>
      </div>
      <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
        <mat-form-field>
          <mat-select formControlName="pricelist" name="pricelist">
            <mat-option *ngFor="let price of pricelists" [value]="price">
              {{price.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="!form.get('pricelist').valid || form.get('pricelist').touched">
            Pricelist is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="w-100"></div>

      <div class="w-100"></div>

      <div class="col-sm-4 d-flex justify-content-sm-end justify-content-center mt-2">
        <p class="feature-name">Collision Damage Waiver</p>
      </div>
      <div class="col-sm-8 d-flex justify-content-sm-start justify-content-center mt-2">
        <mat-checkbox class="feature" [labelPosition]="'after'" formControlName="cdw" style="padding-left: 0.8rem;">
          &nbsp;
          {{ form.get('cdw').value ? 'Available' : 'Not Available' }}
        </mat-checkbox>
      </div>
      <div class="w-100"></div>
    </div>

    <hr style=" width: 60%;">
    <div class="w-100"></div>

    <!-- <div class="col-sm-12 d-flex justify-content-center  mt-2">
      <app-occupancy-view></app-occupancy-view>
    </div> -->


    <div class="col-sm-12 d-flex justify-content-center  mt-2">
      <mat-card-actions *ngIf="!edditing">
        <button mat-raised-button type="submit" class="submit">Create new vehicle</button>
      </mat-card-actions>
      <mat-card-actions *ngIf="edditing">
        <button mat-raised-button type="submit" class="submit">Submit changes</button>
      </mat-card-actions>
    </div>



  </form>
</div>