<div id="top"></div>
<nav id="container"
  class="d-flex flex-column flex-md-row align-items-center bg-white shadow-sm mr-2 ml-2 pb-0 mb-0">
  <a class="navbar-brand my-0 mr-md-auto font-weight-normal" href="/" data-original-title="" title=""><img
      src="assets/images/logo.png" alt=""></a>

  <div class="navbar-brand links">
    <a class="p-2 link" href="#">Features</a>
    <a class="p-2 link" href="/rentals">Rentals</a>
    <a class="p-2 link" href="#">Support</a>
    <a class="p-2 link" routerLink="/vehicle" routerLinkActive="active">Vehicle</a>
    <a class="p-2 link" routerLink="/administration" routerLinkActive="active">Administration</a>
  </div>
  <a class="btn btn-outline-danger" href="#">Sign up</a>

</nav>
<div id="bottom">
</div>
