#top {
  background-color: #585858;
  height: 1vh;
}

img {
  height: 7vh;
}

#container {
  height: 7vh;
  color: #eeeeee;
  display: flex;
  padding-bottom: 0em;
}

.links {
  padding-bottom: 0em;
  margin-bottom: 0em;
}

.link {
  display: inline-block;
  height: 7vh;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

.link:hover {
  outline-style: solid;
  outline-color: #E81831;
}

.active {
  background-color: #E81831;
  color: #eeeeee;
}

a {
  text-decoration: none;
  color: #585858;
}

#bottom {
  background-color: #E81831;
  height: 1vh;
}

.btn-outline-danger {
  height: 6vh;
  outline-color: #E81831;
}

.btn-outline-danger:hover {
  background-color: #E81831;
}
