<div id="top"></div>
<div id="container"
  class="d-flex flex-column flex-md-row align-items-center bg-white  shadow-sm">
  <a class="navbar-brand my-0 mr-md-auto font-weight-normal" href="/" data-original-title="" title=""><img
      src="assets/images/logo.png" alt=""></a>

  <div class="navbar-brand links">
    <a class="p-2 link" href="#">Features</a>
    <a class="p-2 link" href="#">Enterprise</a>
    <a class="p-2 link" href="#">Support</a>
    <a class="p-2 link" href="#">Pricing</a>
  </div>
  <a class="btn btn-outline-danger" href="#">Sign up</a>
  
</div>
<div id="bottom"></div>