.message-row {
  display: grid;
  grid-template-columns: 70%;
  margin-bottom: 20px;
}

.my-message {
  justify-content: end;
  justify-items: end;
}

.other-message {
  justify-items: start;
}

.message-text {
  padding: 9px 14px;
  font-size: 1.3rem;
  margin-bottom: 5px;
}

.message-time {
  font-size: 1.1rem;
  color: #777777;
}

.message-username {
  font-size: 1.1rem;
  color: #777777;
}

.my-message .message-text {
  background: #E81831;
  color: #eee;
  border: 1px solid #E81831;
  border-radius: 10px 10px 10px 0;
}

.other-message .message-text {
  background: #eee;
  color: #111;
  border: 1px solid #ddd;
  border-radius: 10px 10px 10px 0;
}