<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-md-3 mt-2">
      <div class="container col container-bg pb-2 rounded mt-4">
        <nav class="list-group">
          <li class="list-group-item" [ngClass]="{'active': status==='PENDING'}" (click)="changeStatus('PENDING')">Pending</li>
          <li class="list-group-item" [ngClass]="{'active': status==='RESERVED'}" (click)="changeStatus('RESERVED')">Reserved</li>
          <li class="list-group-item" [ngClass]="{'active': status==='FINISHED'}" (click)="changeStatus('FINISHED')">Finished</li>
          <li class="list-group-item" [ngClass]="{'active': status==='CANCELED'}" (click)="changeStatus('CANCELED')">Canceled</li>
        </nav>
      </div>

    </div>

    <div class="col-md-9">
      <div class="container col mt-3 ">
        <div class="row" style="justify-content: center;">
          <app-owner-rentals-listing [status]="status"></app-owner-rentals-listing>
        </div>
      </div>
    </div>
  </div>

</div>

