<mat-tab-group>
    <mat-tab label="Pricelist">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <app-pricelist-table></app-pricelist-table>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Second">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <app-pricelist-table></app-pricelist-table>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Third">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <app-pricelist-table></app-pricelist-table>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>