.container {
  margin-top: 5vh;
  width:100%
}
  
.feature-name {
  padding-top: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.feature {
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

.mat-form-field {
  width: 60%;
}

.submit {
  width: 220px;
  height: 60px;
  margin-top: 2em;
  color: white;
  font-size: 1.3rem;
  background-color: #E81831;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #E81831;
}