.label {
  font-weight: 500;
}

.text {
  font-weight: 400;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #E81831;
}

.mat-icon {
  font-size: 17px;
  width: 17px;
  font-family: 'Material Icons' !important;
  vertical-align: middle;
  margin-right: 1rem;
  margin-left: 0.5rem;
  cursor: help;
}

.dropdown-toggle::after {
  display: none;
}

.active {
  background-color: #E81831;
  color: #eeeeee;
}

.btn-outline-danger {
  display: inline-flex;
  align-items: center;
}

.btn-outline-danger:hover {
  background-color: #E81831;
}

a:hover {
  color: white;
}
