<mat-tab-group>
    <mat-tab label="My vehicles">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <app-vehicle-listing></app-vehicle-listing>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Pricelists">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <app-pricelist-table></app-pricelist-table>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Other">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <app-pricelist-table></app-pricelist-table>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>