<div class="col-md-6 offset-md-3 mt-5">
  <div class="card">
      <h4 class="card-header">Login to Car 2 Go</h4>
      <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.email.errors }" class="form-control" formControlName="email" placeholder="example@kcv.rs"/>
                    <div *ngIf="submitted && loginForm.controls.email.errors" class="invalid-feedback">
                        <div *ngIf="loginForm.controls.email.errors.required">Email is required</div>
                        <div *ngIf="loginForm.controls.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password"  name="password" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }" class="form-control" formControlName="password" placeholder="*****"/>
                    <div *ngIf="submitted && loginForm.controls.password.errors" class="invalid-feedback">
                        <div *ngIf="loginForm.controls.password.errors.required">Password is required</div>
                        <div *ngIf="loginForm.controls.password.errors.minlength">Password is at least 6 characters long</div>
                        <div *ngIf="loginForm.controls.password.errors.maxlength">Password is maximum 24 characters long</div>
                    </div>
                </div>
              <button class="btn btn-primary">Submit</button>
          </form>
      </div>
  </div>
</div>