<div class="text-center">
  <h1 mat-dialog-title><strong>{{action}}</strong></h1>
  <div mat-dialog-content>
    <div *ngIf="action != 'Delete'; else elseTemplate">
      <mat-form-field>
        <input [disabled]="getDisabledValue()" placeholder="Name" matInput [(ngModel)]="local_data.name">
      </mat-form-field>
      <mat-form-field>
        <input [disabled]="getDisabledValue()" placeholder="Price per day" matInput [(ngModel)]="local_data.pricePerDay">
      </mat-form-field>
      <mat-form-field>
        <mat-select [disabled]="getDisabledValue()" placeholder="Collision Damage Waiver" [(ngModel)]="local_data.cdw">
          <mat-option [value]="true">Yes</mat-option>
          <mat-option [value]="false">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input [disabled]="getDisabledValue()" placeholder="Price per kilometer" matInput [(ngModel)]="local_data.pricePerKm">
      </mat-form-field>
      <mat-form-field *ngIf="isAgent">
        <input [disabled]="getDisabledValue()" placeholder="Discount" matInput [(ngModel)]="local_data.discount">
      </mat-form-field>
      <mat-form-field *ngIf="isAgent">
        <input [disabled]="getDisabledValue()" placeholder="Penalty" matInput [(ngModel)]="local_data.penalty">
      </mat-form-field>
      <mat-form-field>
        <input [disabled]="getDisabledValue()" placeholder="Description" matInput [(ngModel)]="local_data.description">
      </mat-form-field>
    </div>
    <ng-template #elseTemplate>
      Sure to delete <b>{{local_data.name}}</b>?
    </ng-template>
  </div>
  <div class="text-right">
    <div mat-dialog-actions>
      <button *ngIf="action != 'Details'" class="do-button" mat-button (click)="doAction()">{{action}}</button>
      <button mat-button (click)="closeDialog()" mat-flat-button>Cancel</button>
    </div>
  </div>
</div>