<div class="text-center">
  <h1 mat-dialog-title><strong>{{action}}</strong></h1>
  <div mat-dialog-content>
    <div *ngIf="action != 'Delete'; else elseTemplate">
      <mat-form-field>
        <input [disabled]="getDisabledValue()" placeholder="Brand" matInput [(ngModel)]="local_data.brand">
      </mat-form-field>
      <mat-form-field>
        <input [disabled]="getDisabledValue()" placeholder="Model" matInput [(ngModel)]="local_data.model">
      </mat-form-field>
      <mat-form-field>
        <input [disabled]="getDisabledValue()" placeholder="Category" matInput [(ngModel)]="local_data.category">
      </mat-form-field>
      <mat-form-field>
        <input [disabled]="getDisabledValue()" placeholder="Seats" matInput [(ngModel)]="local_data.seats">
      </mat-form-field>
      <mat-form-field>
        <ngx-mat-file-input [multiple]="true" [(ngModel)]="local_data.images"></ngx-mat-file-input>
      </mat-form-field>
      <!-- <input type="file" multiple name="files[]" [(ngModel)]="local_data.imagesNames" (change)="onFileSelected($event)"> -->
    </div>
    <ng-template #elseTemplate>
      Sure to delete <b>{{local_data.name}}</b>?
    </ng-template>
  </div>
  <div class="text-right">
    <div mat-dialog-actions>
      <button *ngIf="action != 'Details'" class="do-button" mat-button (click)="doAction()">{{action}}</button>
      <button mat-button (click)="closeDialog()" mat-flat-button>Cancel</button>
    </div>
  </div>
  <img src={{image_source}}>
</div>