<div class="text-center">
  <h1 mat-dialog-title><strong>New rental report</strong></h1>
  <div mat-dialog-content class="row-sm-12">
    <div>
      <div class="row-sm-12">
        <mat-form-field style="width: 80%;">
          <textarea rows="4" placeholder="Description" matInput [(ngModel)]="local_data.description"> </textarea>
        </mat-form-field>
      </div>
      <div class="row-sm-12">
        <mat-form-field style="width: 80%;">
          <input type="number" name="mileage" placeholder="Mileage" (change)="calculatePenalty($event)" matInput
            [(ngModel)]="local_data.mileage">
        </mat-form-field>
      </div>

      <div class="row">
        <div class="col-sm-6 d-flex justify-content-center">
          <p class="label">Final price: </p>
        </div>
        <div class="col-sm-4 d-flex justify-content-center">
          <p class="number">{{ finalPrice() }}</p>
        </div>
      </div>
      <div *ngIf="penalty" class="row">
        <div class="col-sm-6 d-flex justify-content-center">
          <p class="label">Penalty: </p>
        </div>
        <div class="col-sm-4 d-flex justify-content-center">
          <p class="number">{{ getPenalty() }}</p>
        </div>
      </div>

    </div>
  </div>
  <div class="text-right">
    <div mat-dialog-actions class="col-sm-12 d-flex justify-content-center mt-2">
      <button class="do-button" mat-button (click)="doAction()">Submit a report</button>
      <button mat-button (click)="closeDialog()" mat-flat-button>Cancel</button>
    </div>
  </div>
</div>