.do-button {
  background-color: #E81831;
  color: white;
}

.star {
  font-size: 3rem;
  margin-top: 5em;
  color: #585858;
}

.filled {
  color: #4e3aff;
}

span, ngb-rating, ng-template  {
  outline: none;
}

