<div class="text-center">
  <h1 mat-dialog-title><strong>New review</strong></h1>
  <div mat-dialog-content class="row-sm-12">
    <div>
      <div class="row-sm-12">
        <mat-form-field style="width: 80%;">
          <textarea rows="4" placeholder="Review text" matInput [(ngModel)]="local_data.text"> </textarea>
        </mat-form-field>
      </div>
      <div class="row-sm-12">
        <div class="row mt-3 d-flex justify-content-center align-self-center">
          <p>Rating</p>
        </div>
        <div class="row mt-3 mb-3 d-flex justify-content-center align-self-center">
          <ngb-rating [(rate)]="local_data.stars" max=5>
            <ng-template let-fill="fill" let-index="index">
              <span class="star" [class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
        </div>
      </div>
    </div>
  </div>
  <div class="text-right">
    <div mat-dialog-actions class="col-sm-12 d-flex justify-content-center mt-2">
      <button class="do-button" mat-button (click)="doAction()">Post a review</button>
      <button mat-button (click)="closeDialog()" mat-flat-button>Cancel</button>
    </div>
  </div>
</div>