<div class="container shadow  mb-1 bg-white rounded search-form" style="margin-top: 0em; padding-top: 0em;">

  <form class="">
    <div class="row no-gutters ">
      <div class="col-md-3 col-lg-3 ml-2 mr-3 form-field-wrapper">
        <label class="date-title mt-3" for="search">Where</label>
        <div class="col-md-9  form-field-wrapper">
          <mat-form-field>
            <input type="text" name="search" [(ngModel)]="searchText" (ngModelChange)="searchDataChanged($event)"
              matInput [matAutocomplete]="auto" placeholder="Search Nearest Location" autocorrect="off"
              autocapitalize="off" spellcheck="off">
          </mat-form-field>

          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of response" [value]="option['GeoObject'].name">
              {{option['GeoObject'].name + ', ' + option['GeoObject'].description}}</mat-option>
          </mat-autocomplete>
        </div>
      </div>
      <div class="col-md-3 mr-3 ml-3 form-field-wrapper">
        <label class="date-title mt-3" for="picker">Start</label>


        <div class="col-md-6  form-field-wrapper ">
          <mat-form-field class="form-field">
            <input matInput [matDatepicker]="picker" placeholder="Date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-5">
          <mat-form-field class="form-field">
            <mat-label>Time</mat-label>
            <mat-select>
              <input matInput type="text" />
              <mat-option value="0">Midnight</mat-option>
              <mat-option value="30">12:30 AM</mat-option>
              <mat-option value="60">1:00 AM</mat-option>
              <mat-option value="90">1:30 AM</mat-option>
              <mat-option value="120">2:00 AM</mat-option>
              <mat-option value="150">2:30 AM</mat-option>
              <mat-option value="180">3:00 AM</mat-option>
              <mat-option value="210">3:30 AM</mat-option>
              <mat-option value="240">4:00 AM</mat-option>
              <mat-option value="270">4:30 AM</mat-option>
              <mat-option value="300">5:00 AM</mat-option>
              <mat-option value="330">5:30 AM</mat-option>
              <mat-option value="360">6:00 AM</mat-option>
              <mat-option value="390">6:30 AM</mat-option>
              <mat-option value="420">7:00 AM</mat-option>
              <mat-option value="450">7:30 AM</mat-option>
              <mat-option value="480">8:00 AM</mat-option>
              <mat-option value="510">8:30 AM</mat-option>
              <mat-option value="540">9:00 AM</mat-option>
              <mat-option value="570">9:30 AM</mat-option>
              <mat-option value="600">10:00 AM</mat-option>
              <mat-option value="630">10:30 AM</mat-option>
              <mat-option value="660">11:00 AM</mat-option>
              <mat-option value="690">11:30 AM</mat-option>
              <mat-option value="720">Noon</mat-option>
              <mat-option value="750">12:30 PM</mat-option>
              <mat-option value="780">1:00 PM</mat-option>
              <mat-option value="810">1:30 PM</mat-option>
              <mat-option value="840">2:00 PM</mat-option>
              <mat-option value="870">2:30 PM</mat-option>
              <mat-option value="900">3:00 PM</mat-option>
              <mat-option value="930">3:30 PM</mat-option>
              <mat-option value="960">4:00 PM</mat-option>
              <mat-option value="990">4:30 PM</mat-option>
              <mat-option value="1020">5:00 PM</mat-option>
              <mat-option value="1050">5:30 PM</mat-option>
              <mat-option value="1080">6:00 PM</mat-option>
              <mat-option value="1110">6:30 PM</mat-option>
              <mat-option value="1140">7:00 PM</mat-option>
              <mat-option value="1170">7:30 PM</mat-option>
              <mat-option value="1200">8:00 PM</mat-option>
              <mat-option value="1230">8:30 PM</mat-option>
              <mat-option value="1260">9:00 PM</mat-option>
              <mat-option value="1290">9:30 PM</mat-option>
              <mat-option value="1320">10:00 PM</mat-option>
              <mat-option value="1350">10:30 PM</mat-option>
              <mat-option value="1380">11:00 PM</mat-option>
              <mat-option value="1410">11:30 PM</mat-option>

            </mat-select>
          </mat-form-field>
        </div>
      </div>


      <div class="col-md-3 ml-2 form-field-wrapper">
        <label class="date-title mt-3" for="picker2">End</label>
        <div class="col-md-6">
          <mat-form-field class="form-field">
            <input matInput [matDatepicker]="picker2" placeholder="Date">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-5">
          <mat-form-field class="form-field">
            <mat-label>Time</mat-label>
            <mat-select>
              <input matInput type="text" />
              <mat-option value="0">Midnight</mat-option>
              <mat-option value="30">12:30 AM</mat-option>
              <mat-option value="60">1:00 AM</mat-option>
              <mat-option value="90">1:30 AM</mat-option>
              <mat-option value="120">2:00 AM</mat-option>
              <mat-option value="150">2:30 AM</mat-option>
              <mat-option value="180">3:00 AM</mat-option>
              <mat-option value="210">3:30 AM</mat-option>
              <mat-option value="240">4:00 AM</mat-option>
              <mat-option value="270">4:30 AM</mat-option>
              <mat-option value="300">5:00 AM</mat-option>
              <mat-option value="330">5:30 AM</mat-option>
              <mat-option value="360">6:00 AM</mat-option>
              <mat-option value="390">6:30 AM</mat-option>
              <mat-option value="420">7:00 AM</mat-option>
              <mat-option value="450">7:30 AM</mat-option>
              <mat-option value="480">8:00 AM</mat-option>
              <mat-option value="510">8:30 AM</mat-option>
              <mat-option value="540">9:00 AM</mat-option>
              <mat-option value="570">9:30 AM</mat-option>
              <mat-option value="600">10:00 AM</mat-option>
              <mat-option value="630">10:30 AM</mat-option>
              <mat-option value="660">11:00 AM</mat-option>
              <mat-option value="690">11:30 AM</mat-option>
              <mat-option value="720">Noon</mat-option>
              <mat-option value="750">12:30 PM</mat-option>
              <mat-option value="780">1:00 PM</mat-option>
              <mat-option value="810">1:30 PM</mat-option>
              <mat-option value="840">2:00 PM</mat-option>
              <mat-option value="870">2:30 PM</mat-option>
              <mat-option value="900">3:00 PM</mat-option>
              <mat-option value="930">3:30 PM</mat-option>
              <mat-option value="960">4:00 PM</mat-option>
              <mat-option value="990">4:30 PM</mat-option>
              <mat-option value="1020">5:00 PM</mat-option>
              <mat-option value="1050">5:30 PM</mat-option>
              <mat-option value="1080">6:00 PM</mat-option>
              <mat-option value="1110">6:30 PM</mat-option>
              <mat-option value="1140">7:00 PM</mat-option>
              <mat-option value="1170">7:30 PM</mat-option>
              <mat-option value="1200">8:00 PM</mat-option>
              <mat-option value="1230">8:30 PM</mat-option>
              <mat-option value="1260">9:00 PM</mat-option>
              <mat-option value="1290">9:30 PM</mat-option>
              <mat-option value="1320">10:00 PM</mat-option>
              <mat-option value="1350">10:30 PM</mat-option>
              <mat-option value="1380">11:00 PM</mat-option>
              <mat-option value="1410">11:30 PM</mat-option>

            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-2 ml-2 float-right btn-wrapper">
        <a class="btn btn-sm btn-outline-danger search-button" href="#">Search</a>
      </div>
    </div>
  </form>

</div>

<div class="container mt-3 ">
  <div class="row">
    <div class="col-md-3 shadow  mt-2 rounded" style="height: 100%;">
      <div class="row m-3 ">
        <hr data-content="FILTERS" class="hr-text">

      </div>
      <hr>
      <hr data-content="CATEGORY" class="hr-text mt-3">
      <div class="row m-3 shadow-sm filters-container rounded">

        <mat-list>
          <!--
            <mat-list-item ngFor="let cat of categories">
              <mat-checkbox >{{cat}}</mat-checkbox>
            </mat-list-item>
          -->
          <mat-list-item>
            <mat-checkbox>SUV </mat-checkbox>
          </mat-list-item>
          <mat-list-item>
            <mat-checkbox>Hatchback </mat-checkbox>
          </mat-list-item>
        </mat-list>
      </div>

      <hr data-content="FUEL" class="hr-text mt-3">
      <div class="row m-3 shadow-sm filters-container rounded">
        <mat-list>
          <!--
            <mat-list-item ngFor="let fuel of fuelTypes">
              <mat-checkbox >{{fuel}}</mat-checkbox>
            </mat-list-item>
        -->
          <mat-list-item>
            <mat-checkbox>Gasoline </mat-checkbox>
          </mat-list-item>
          <mat-list-item>
            <mat-checkbox>Diesel </mat-checkbox>
          </mat-list-item>
          <mat-list-item>
            <mat-checkbox>Natural gas </mat-checkbox>
          </mat-list-item>
        </mat-list>
      </div>
      <hr data-content="TRANSMISSION" class="hr-text mt-3">
      <div class="row m-3 shadow-sm filters-container rounded">
        <mat-list>
          <!--
            <mat-list-item ngFor="let tranType of transmitionTypes">
              <mat-checkbox >{{tranType}}</mat-checkbox>
            </mat-list-item>
        -->
          <mat-list-item>
            <mat-checkbox>Automatic </mat-checkbox>
          </mat-list-item>
          <mat-list-item>
            <mat-checkbox>Manual </mat-checkbox>
          </mat-list-item>
        </mat-list>
      </div>
      <hr>
      <div class="row m-3 filter-Button">
        <a class="btn btn-outline-danger filter-Button btn-block">Filter</a>
      </div>

    </div>
    <div class="col-md-9 " style="height: 100%;">
      <!--
          <div class="row m-3 ngFor="let vehicle of vehicles" shadow-sm  m-1 bg-white rounded">
            Vehicle one
          </div>
      -->
      <div class="row m-3 shadow-sm  m-1 bg-white rounded">
        <div class="col-md-4 col-left">
          <img class="car-Image shadow-sm bg-white rounded"
            src="https://article.images.consumerreports.org/f_auto/prod/content/dam/CRO%20Images%202018/Cars/November/CR-Cars-InlineHero-2019-Honda-Insight-driving-trees-11-18">
        </div>
        <div class="col-md-3 col-left">
          <ul class="vehicle-info mt-1">
            <li>
              Brand:
            </li>
            <li>
              Model:
            </li>
            <li>
              Fuel:
            </li>
            <li>
              Transmission:
            </li>
            <li>
              Class:
            </li>
            <li>
              Kids seats No:
            </li>
            <li>
              Mileage:
            </li>
          </ul>
        </div>
        <div class="col-md-2 col-left">
          <star-rating value='5' totalstars="5" checkedcolor="blue" uncheckedcolor="gray" size="24px" readonly="true"></star-rating>
          comments
        </div>
        <div class="col-md-2 col-left">
          price:
          add to cart
        </div>

      </div>
      <div class="row m-3 shadow-sm  m-1 bg-white rounded">
        <div class="col-md-4 col-left">
          <img class="car-Image shadow-sm bg-white rounded"
            src="https://www.testoviautomobila.rs/wp-content/uploads/2015/05/fica-prelepa-slika-840x420.jpg">
        </div>
        <div class="col-md-3 col-left">
          <!--
            <app-vehicle-info style="font-size: 0.8em;">
            </app-vehicle-info>
          --> 
          <ul class="vehicle-info mt-1">
            <li>
              Brand: Zastava
            </li>
            <li>
              Model: 500
            </li>
            <li>
              Fuel: Gasoline
            </li>
            <li>
              Transmission: Manual
            </li>
            <li>
              Class: Small
            </li>
            <li>
              Kids seats No: 0
            </li>
            <li>
              Mileage: Unlimited
            </li>
          </ul>
        </div>
      </div>
      <div class="row m-3 shadow-sm  m-1 bg-white rounded">
        Vehicle three
      </div>
      List of vehicles...
      <hr class="dashed">
    </div>
  </div>

</div>