#top {
  background-color: #585858;
  height: 1vh;
}

img {
  height: 7vh;
}

#container {
  color: #eeeeee;
  display: flex;
  padding-bottom: 0em;
}

.links {
  margin-top: 0.25em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

.link {
  display: inline-block;
  line-height: 6vh;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

.link:hover {
  outline-style: solid;
  outline-color: #cc0099;
}

.active {
  background-color: #cc0099;
  color: #eeeeee;
}

a {
  text-decoration: none;
  color: #585858;
}

#bottom {
  background-color: #cc0099;
  height: 1vh;
}

.btn-outline-danger {
  margin-top: 0.25em;
  line-height: 6vh;
  outline-color: #cc0099;
}

.btn-outline-danger:hover {
  background-color: #cc0099;
}
ul {
  list-style-type: none;
 }

.mat-icon {
  font-family: 'Material Icons' !important;
  vertical-align: middle;
  margin-right: 1rem; 
  margin-left: 0.5rem;
  cursor: pointer;
  color: #cc0099;
  outline: none;
  }