<mat-tab-group>
  <mat-tab label="Pending">
    <ng-template matTabContent>
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <app-customer-rentals-listing [status]="'PENDING'"></app-customer-rentals-listing>
              </div>
          </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Reserved">
    <ng-template matTabContent>
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <app-customer-rentals-listing [status]="'RESERVED'"></app-customer-rentals-listing>
              </div>
          </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Finished">
    <ng-template matTabContent>
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <app-customer-rentals-listing [status]="'FINISHED'"></app-customer-rentals-listing>
              </div>
          </div>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Canceled">
    <ng-template matTabContent>
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <app-customer-rentals-listing [status]="'CANCELED'"></app-customer-rentals-listing>
              </div>
          </div>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>