.sticky {
  position: sticky;
  top: 3vh;
  height: 7vh;
}

.links-border-top {
  position: sticky;
  top: 0vh;
  height: 3vh;
  background-color: white;
}

.links-border-bottom {
  position: sticky;
  top: 10vh;
  height: 3vh;
  background-color: white;
}

.link {
  display: inline-block;
  height: 7vh ;
  cursor: pointer;
}

.underline {
    height: 0.3em;
}

.underline-active {
    background-color: #E81831 !important;
}

.active {
    font-weight: bold !important;
    color: #E81831 !important;
    font-size: 1.2rem !important;
}

#i ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 4vh;
  overflow: hidden;
  background-color: white;

}

#i li {
  float: left;
}

#i li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#i li a:hover {
  border-radius: 0px 0px 10px 10px;
  color: #E81831;
}

/* #i {
  margin: 0px 0px 40px 0px;
} */

#footer-id {
  background-color:blue;
}